/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 html {
 	height: 100%;
 }

 h2 {
 	color: grey;
 	border-radius: 15px;
  border: 1px solid #808080;
  padding: 10px; 
  width: 200px;
	text-align: center;
	font-weight: normal;
 }

 body {
 	 	height: 100%;
  	background-color: #87DDCA;
  	font-family: "Helvetica Neue" sans-serif;
  	font-size: 12px;
  	font-weight: normal;
 }


.bubble {
    border-radius: 25px;
    border: 1px solid #808080;
    padding: 10px; 
    width: 250px;
		text-align: center;
		background-color: #FFFEFE;
}

.bubble-view {
    border-radius: 25px;
    border: 1px solid #808080;
    padding: 20px; 
    width: 250px;
		text-align: center;
		background-color: #FFFEFE;
}